@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
	--green: #66E5BF;
	--purple: #A675F5;
	--blue: #050542;
}

* {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: var(--blue);
}

